/* Resetear scroll */
html{
    scroll-behavior: auto !important;
}

/* General */
body{
    font-family: "Raleway", sans-serif;
    background-color: black;
    color: white;
}

/* Navbar */
.bgcolor.scrolled{
    background-color: #0dcaf0;
}
/* Títulos */
h4{
    font-weight: 500;
}
h5{
    font-weight: 500;
}
/* Destacados */
.card img{
    height: 120px;
}

/* Footer */
footer a{
    color: white;
    text-decoration: none;
}